p,ul,ol{
    color: #858585;
}

pre{
    font-size:16px;
}

h1,h2,h3,h4{
    color: #424242;
}

span{
    color: #424242;
    font-weight: bold;
}

hr{
    color: #858585;
    background-color: #858585;
}

.overAll{
    margin-left: 139px;
    margin-right: 139px;
}

.notes{
    background: #f8f8f8 0% 0% no-repeat padding-box;
    padding: 5px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}

.progNotes{
    border: 1px solid #D8D8D8;
    font-size: 16px;
    border-radius: 10px;
    color: #007eb4;
    opacity: 1;
}

.tableStyle{
    display: flex;
    justify-content: center;
}
